.logo {
    width: 12vw;
    height: auto;
    padding: 3%;
    margin-left: 10%;
    margin-top: 5%;
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    color: black;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 2%;
}

a {
    color: black;
    text-decoration: none;
}

.items{
    font-size: 0.8rem;
    padding: 16px 40px;
    margin: 0 20px 0 5px;
    color: white;
    list-style-type: none;
    background: #4E55AD;
    opacity: 0.9;
    backdrop-filter: blur(20px);
    border-radius: 60px;
}

.items:hover {
    background: #FF8150;
    transform: scale(1.1);
}

#accueil, #messagerie {
    background: white;
    color: #4E55AD;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
}

#accueil:hover, #messagerie:hover {
    box-shadow: 8px 8px 2px 1px #FF8150;
    transform: scale(1.1);
}