.container_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vw;
}

.nouvelles_candidatures h2 {
  font-family: var(--text-font-family-jost);
  font-size: 0.9rem;
  padding: 4vh 7vh;
  border-radius: 50px 50px 0 0;
  color: var(--white);
  background: var(--purple-light);
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
}

.dashboard_candidature .btn-container {
  font-size: 0.8rem;
  color: white;
  background: #ff5400;
  border-radius: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.dashboard_candidature {
  padding: 4vh 2vw 2vh 2vw;
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px rgb(184 197 235 / 50%);
}

.dashboard_candidature .text_cross {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5vw;
  margin-left: 4vw;
  align-items: center;
  color: #93a9eb;
}