.chat_box_container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0 0 30px 30px;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
}

.message__container {
  overflow: scroll;
  overflow-x: hidden;
  width: 52vw;
  height: 50vh;
  margin-top: 3vh;
  border-radius: 10px 10px 10px 10px;
  border: 0.5px solid var(--purple-light);
}

.openChat__btn {
  padding: 10px;
  width: 15vw;
  border: none;
  outline: none;
  background-color: #eb5757;
  border-radius: 16px;
  cursor: pointer;
  color: #fff;
}

.message__sender p {
  font-size: 13px;
}

.sender__name {
  text-align: right;
  margin-right: 1vw;
  font-size: 13px;
}

.message__recepted__chats {
  text-align: left;
  margin-left: 0.5vw;
  font-size: 13px;
}

.message__sender {
  background-color: rgb(194, 243, 194);
  max-width: 20vw;
  padding: 10px;
  border-radius: 10px;
  margin-left: 31vw;
  font-size: 15px;
}

.message__recipient {
  background-color: #f5ccc2;
  width: 20vw;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.message__recipient p {
  font-size: 13px;
}

.chat_footer_body {
  z-index: 10;
  width: 55vw;
  height: 10vh;
  position: auto;
}
