.chat__footer {
  width: 50vw;
  height: 12vh;
  margin-left: 2vw;
  margin-top: 0.8vw;
  position: auto;
}

.message {
  width: 39vw;
  height: 5vh;
  margin-right: 2.5vh;
  border-radius: 10px;
  border: 1px solid transparent;
  border: none;
  outline: none;
  padding: 15px;
  box-shadow: 0 16px 48px 0 rgb(0 55 83 / 13%);
}
.sendBtn {
  width: 150px;
  background-color: var(--purple-dark);
  border-radius: 16px;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: var(--orange);
}
