.my_inbox_box_body {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 20px 20px;
}

.my_inbox_titleblock {
  color: var(--white);
  background-color: var(--purple-light);
  height: 12vh;
  border-radius: 50px 50px 0 0;
}

.my_inbox_titleblock h2 {
  color: var(--white);
  padding: 5vh 6vh;
}

.my_inbox p {
  color: var(--purple-dark);
  padding: 5vh 2vh;
}

.chat_box_body {
  width: 60vw;
  height: 60vh;
  display: flex;
  background-color: white;
  border: 1px solid black;
}

.chatBox {
  width: 45vw;
  height: 55vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}
