.hello_button {
  padding: 1.6vh 2vh;
  width: 16vw;
  margin-right: 1vw;
  border-radius: 40px 40px 40px 40px;
  color: white;
  background: var(--bleu);
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, 0.2);
}

.hello_button h1 {
  margin-left: 0.8vw;
  color: var(--white);
}
