.hello_button {
  font-family: var(--text-font-family-jost);
  font-size: 0.9vh;
  padding: 1.6vh 2vh;
  width: 16vw;
  margin-right: 1vw;
  border-radius: 40px 40px 40px 40px;
  color: var(--bleu);
  background: var(--white);
  box-shadow: 4px 4px 2px 1px rgba(83, 159, 169, 0.6);
}
