.logo_home {
  position: absolute;
  top: 0;
  width: 11vw;
  margin: 3vh 3vw;
}

.title_block {
  margin: 20vh 0 5vh 0;
}

.title_block h1 {
  text-align: center;
  font-size: 1rem;
}

.main_container_home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60vh;
}

.shape1 {
  width: 35vw;
  height: 60vh;
  position: absolute;
  margin-right: 28vw;
}

.shape2 {
  width: 35vw;
  height: 60vh;
  position: absolute;
  margin-left: 28vw;
}

.wlogo {
  z-index: 5;
  position: absolute;
  width: 11vw;
  left: 43.5vw;
}

.container_text {
  display: flex;
  flex-direction: row;
  position: relative;
}

.container_candidat {
  z-index: 10;
  width: 20vw;
  position: absolute;
  left: -26vw;
  top: -18vh;
}

.container_consultant {
  z-index: 10;
  width: 20vw;
  position: absolute;
  top: -18vh;
  right: -28vw;
}
