.message {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 10px;
}

.messageTop {
  display: flex;
  margin-top: 2.5vw;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  color: white;
  width: 300px;
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: var(--grey-light);
  color: var(--black);
}
