.modalBox {
  position: fixed;
  left: 0;
  right: 0;
  top: O;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent {
  position: relative;
  top: 0.5vw;
  bottom: 2vw;
  left: 0.1vw;
  right: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
  height: 85%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw;
}
.modal-header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding-bottom: 1vw;
  margin-bottom: 2vw;
}

.header-img {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5vw;
}

.header-button {
  width: 4%;
  cursor: pointer;
  padding: 0.5vw;
  border-radius: 30%;
}
.header-button:hover {
  transform: scale(1.5);
}

.modal-body {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-body::-webkit-scrollbar {
  display: none;
}

.modal-footer {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postule-button {
  border-radius: 20px;
  border: none;
  box-shadow: 3px 3px rgb(147 169 235 / 50%);
  padding: 0.5rem;
  font-size: 0.8rem;
  font-family: var(--text-font-family-jost);
  width: 15vw;
  background-color: var(--white);
  color: var(--purple-dark);
  cursor: pointer;
  margin-top: 2vw;
  margin-bottom: 2vh;
}
.postule-button:hover {
  box-shadow: 4px 4px 2px 1px var(--orange);
  transform: scale(1.1);
}
.modal-title {
  margin-bottom: 1vw;
  font-size: 2vw;
  color: var(--purple-dark);
}

.modal-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--purple-light);
  margin-bottom: 2vw;
}
.modal-text {
  font-size: 1rem;
  color: var(--purple-dark);
  margin-bottom: 3vw;
  text-align: justify;
}
.send-candidature {
  color: red;
}
