.bloc_offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 20vh;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: var(--purple-light) 5px 5px 15px;
  margin-bottom: 1vw;
  padding-right: 1vw;
}
.offer_block_job {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 90%;
  margin-left: 1.5vw;
}
#text_entreprise {
  font-size: 1vw;
  color: var(--purple-dark);
  text-decoration: underline;
}
#text_job {
  font-size: 1.2vw;
  color: var(--purple-dark);
}
#text_date {
  font-size: 0.8vw;
  color: var(--purple-dark);
  opacity: 0.7;
}
.offer_filter {
  display: flex;
  width: 50%;
}
.border_button {
  color: var(--purple-dark);
  border: 1px solid var(--purple-dark);

  border-radius: 10px;
  padding: 1vh 2vw;
  margin-right: 5%;
}
#border_button_offer {
  color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
  border-radius: 10px;
  padding: 1vh 2vw;
  text-decoration: underline;
}
.offer_block_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 30%;
}
#full_earth {
  font-size: 2vw;
  color: var(--red);
}
#empty_earth {
  font-size: 2vw;
}
.offer_logo {
  width: 9vw;
  margin-right: 5%;
}
