.radio-button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1vw;
}

.radio-button-label {
  font-size: 2.3vh;
  color: var(--purple-light);
  width: 5.4vw;
}
