.salary_box {
  margin: 1vw 4vw;
}
.salary_titleblock {
  background-color: var(--purple-light);
  height: 8vh;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px rgba(184, 197, 235, 0.5);
}

h2.salary_title {
  color: var(--white);
  font-family: var(--text-font-family-jost);
  font-size: 1.2rem;
  font-weight: lighter;
}

.salary_body {
  background-color: var(--white);
  height: 13vh;
  width: 20vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 3px 3px rgba(184, 197, 235, 0.5);
}

.salary_body h3 {
  margin: 2vh 0;
}

.minimal_salary {
  color: var(--purple-dark);
  font-weight: normal;
}

.amount_salary {
  color: var(--purple-dark);
  font-weight: bold;
}
