.searchBar {
  display: flex;
  top: 20px;
  justify-content: space-around;
  border: solid 2px #7bc5c6;
  background-color: #7bc5c6;
  border-radius: 30vw;
  padding: 16px;
  padding-left: 0;
  width: 55vw;
  margin-bottom: 5vh;
}

.inputBox input {
  width: 23vw;
  height: 5vh;
  padding: 2%;
  background: white;
  border-radius: 30vw;
  color: black;
  font-size: 1.2em;
  border: none;
  height: 5vh;
}
.searchButton {
  font-size: 5vh;
  padding-top: 1vh;
  padding-left: 1vh;
  color: white;
}
