@font-face {
  font-family: Jost;
  src: url(./assets/fonts/Inter-Regular.ttf);
}

* {
  font-family: Jost;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/img/workit01-fond1.png");
  background-size: cover;
  background-attachment: fixed;
}
.App {
  width: 100vw;
  height: 100vh;
}
p {
  margin: 0;
}
